<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style.css}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="main-title">
      
        <div class="container-title">
          <h1> <strong>Mot</strong>flux</h1>
        </div>
  
        <div class="container-circle">
          <div class="circulo">
    
          </div>
      
          <div class="circulo2">
      
          </div>
        </div>
  
      </div>
</body>
</html>